@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  cursor: pointer;
  background: transparent;
}
body {
  font-family: "Montserrat", sans-serif;
}
:root {
  --blue: #180161;
  --violet: #4f1787;
  --rose: #eb3678;
  --orange: #fb773c;
  --white: #ffffff;
  --black: #0c0c0c;
  --gray: #d3d1d1;

  --c-1: #e5d9f2;
  --c-2: #f5efff;
  --c-3: #cdc1ff;
  --c-4: #a594f9;
}
#app {
  min-height: 100vh;
}

.router-link-active {
  color: var(--rose) !important;
}
